<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (loggedin) { %>
  <a href="/wishlist">My Wishlist</a>
  <a href="/account/"><%= accountData.account_firstname %>'s Account</a>
  <a href="/account/logout">Logout</a>
<% } else { %>
  <a href="/account/login">Login</a>
<% } %>

  </div>
</header>
