<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# messages() %>

<%- detail %>

<% if (locals.loggedin) { %>
  <form action="/wishlist/add" method="post" class="wishlist-form">
    <input type="hidden" name="inv_id" value="<%= vehicle.inv_id %>">
    <button type="submit">Add to Wishlist</button>
  </form>
<% } %>
